@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulsing {
  animation: pulse 1s infinite;
}

.jumping {
  animation: jump 2s infinite;
}

.stats-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px;

  justify-content: center;
  align-items: center;
}

.stats-cards .card-text {
  margin-left: 5px;
}

.counter {
  transition: all 0.3s ease;
}

@media (max-width: 900px) {
  .introduction-section {
    justify-content: center !important;
  }

  .introduction-advertisement {
    animation: pulse 1s infinite;
  }

  .introduction-text {
    width: 100%;

    align-items: center !important;
    justify-items: center;
    text-align: center;
  }

  .introduction-image {
    display: none;
  }

  .stats-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .introduction-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stats-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
