a {
  text-decoration: none !important;
}

.navbar-link {
  color: black;
  padding: 2px 6px;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-link:hover:not(.link-avatar) {
  color: var(--lumo-primary-color);
  background-color: var(--lumo-primary-color-10pct);
}

.link-avatar {
  background-color: var(--lumo-primary-color-);
}
